<% if @recipes.any? %>
<div class="px-4 py-6">
  <h1 class="font-semibold text-3xl mb-4 text-white text-center">Public Recipes</h1>
  <div >
    <ul class="grid grid-cols-1 sm:grid-cols-1 gap-4 mt-2 text-white">
      <% @recipes.each do |recipe|%>
      <li class="pb-4 mb-4 bg-black bg-opacity-50 rounded-lg p-8 my-8">
        <div class="justify-between flex">
              <div class="flex flex-col w-1/3">
          <h3 class="font-semibold text-white">
            <%= link_to recipe.name, recipe_path(recipe.id), class: "text-white hover:underline" %>
          </h3>
                <span>By <%= recipe.user.name %></span>
            </div>
            <div  class="flex-1">
              <p class="py-4 px-2 flex flex-col"><%= recipe.description %></p>
            </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<% else %>
<h1 class="text-important font-important text-center text-white text-2xl">There is no public recipe.</h1>
<% end %>
