<div class="flex items-center justify-center h-full w-full">
  <div class="w-full max-w-md text-white bg-black bg-opacity-50 rounded-lg p-8">
    <h2 class="text-2xl font-semibold mb-4">Edit quantity</h2>
    <%= form_with model: @recipe_food, url: recipe_recipe_food_path(@recipe.id, @recipe_food.id), method: :patch, class: "space-y-4" do |f| %>
      <div class="space-y-2">
        <%= f.label :quantity, class: "block font-semibold text-white mt-2" %>
        <%= f.number_field :quantity, autofocus: true, class: "w-full p-2 border text-black rounded-lg focus:outline-none focus:border-blue-500", placeholder: "Quantity" %>
      </div>
      <div class="mt-4">
        <%= f.submit "Update quantity", class: "w-full py-2 px-4 bg-blue-500 text-white font-bold rounded-lg hover:bg-blue-600" %>
      </div>
    <% end %>
  </div>
</div>
